<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="{{ .Site.Home.RelPermalink }}">
                    <h1>Lewisia Farms</h1>
                </a>
            </div>
            <nav class="main-nav">
                <ul>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li><a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</header>